In [1]:
# 3D model of solar system | David Hudson

In [2]:
# import existing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [80]:
# import data files
# to use later DataFrame.to_csv
planet_data = pd.read_csv('planet_fact_sheet_NASA.csv')# planet data from NASA | dont want indexing...yet

In [81]:
# clean up the data frame

df.rename(columns={'Unnamed: 0':'Planet'},inplace=True) # rename column Unnamed: 0

In [87]:
# invert DataFrame  
planet_data.iloc[1,:]
#df_inverse = df.T # store as a variable to be reusable
#df_inverse

Unnamed: 0    Diameter (km)
MERCURY                4879
VENUS                 12104
EARTH                 12756
MOON                   3475
MARS                   6792
JUPITER              142984
SATURN               120536
URANUS                51118
NEPTUNE               49528
PLUTO                  2376
Name: 1, dtype: object

In [41]:
# 
df_inverse.keys()

RangeIndex(start=0, stop=20, step=1)

RangeIndex(start=0, stop=20, step=1)