In [1]:
# 3D model of solar system | David Hudson

In [2]:
# import existing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# import data files

planet_data = pd.read_csv('planet_fact_sheet_NASA.csv', index_col=False) # planet data from NASA | dont want indexing...yet
#planet_data

In [4]:
# create pandas DataFrames using the imported data

df = pd.DataFrame(planet_data) # data frame of planet data

df # calls the data frame

,Unnamed: 0,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO
0,Mass (1024kg),0.33,4.87,5.97,0.073,0.642,1898,568,86.8,102,0.013
1,Diameter (km),4879,12104,12756,3475,6792,142984,120536,51118,49528,2376
2,Density (kg/m3),5429,5243,5514,3340,3934,1326,687,1270,1638,1850
3,Gravity (m/s2),3.7,8.9,9.8,1.6,3.7,23.1,9,8.7,11,0.7
4,Escape Velocity (km/s),4.3,10.4,11.2,2.4,5,59.5,35.5,21.3,23.5,1.3
5,Rotation Period (hours),1407.6,-5832.5,23.9,655.7,24.6,9.9,10.7,-17.2,16.1,-153.3
6,Length of Day (hours),4222.6,2802,24,708.7,24.7,9.9,10.7,17.2,16.1,153.3
7,Distance from Sun (106 km),57.9,108.2,149.6,0.384*,228,778.5,1432,2867,4515,5906.4
8,Perihelion (106 km),46,107.5,147.1,0.363*,206.7,740.6,1357.6,2732.7,4471.1,4436.8
9,Aphelion (106 km),69.8,108.9,152.1,0.406*,249.3,816.4,1506.5,3001.4,4558.9,7375.9
10,Orbital Period (days),88,224.7,365.2,27.3*,687,4331,10747,30589,59800,90560
11,Orbital Velocity (km/s),47.4,35,29.8,1.0*,24.1,13.1,9.7,6.8,5.4,4.7
12,Orbital Inclination (degrees),7,3.4,0,5.1,1.8,1.3,2.5,0.8,1.8,17.2
13,Orbital Eccentricity,0.206,0.007,0.017,0.055,0.094,0.049,0.052,0.047,0.01,0.244
14,Obliquity to Orbit (degrees),0.034,177.4,23.4,6.7,25.2,3.1,26.7,97.8,28.3,122.5
15,Mean Temperature (C),167,464,15,-20,-65,-110,-140,-195,-200,-225
16,Surface Pressure (bars),0,92,1,0,0.01,NaN,Unknown*,Unknown*,Unknown*,0.00001
17,Number of Moons,0,0,1,0,2,92,83,27,14,5
18,Ring System?,No,No,No,No,No,Yes,Yes,Yes,Yes,No
19,Global Magnetic Field?,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Unknown

In [5]:
# clean up the data frame

df.rename(columns={'Unnamed: 0':'Planet'},inplace=True) # rename column Unnamed: 0

df # call the DataFrame

,Planet,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO
0,Mass (1024kg),0.33,4.87,5.97,0.073,0.642,1898,568,86.8,102,0.013
1,Diameter (km),4879,12104,12756,3475,6792,142984,120536,51118,49528,2376
2,Density (kg/m3),5429,5243,5514,3340,3934,1326,687,1270,1638,1850
3,Gravity (m/s2),3.7,8.9,9.8,1.6,3.7,23.1,9,8.7,11,0.7
4,Escape Velocity (km/s),4.3,10.4,11.2,2.4,5,59.5,35.5,21.3,23.5,1.3
5,Rotation Period (hours),1407.6,-5832.5,23.9,655.7,24.6,9.9,10.7,-17.2,16.1,-153.3
6,Length of Day (hours),4222.6,2802,24,708.7,24.7,9.9,10.7,17.2,16.1,153.3
7,Distance from Sun (106 km),57.9,108.2,149.6,0.384*,228,778.5,1432,2867,4515,5906.4
8,Perihelion (106 km),46,107.5,147.1,0.363*,206.7,740.6,1357.6,2732.7,4471.1,4436.8
9,Aphelion (106 km),69.8,108.9,152.1,0.406*,249.3,816.4,1506.5,3001.4,4558.9,7375.9
10,Orbital Period (days),88,224.7,365.2,27.3*,687,4331,10747,30589,59800,90560
11,Orbital Velocity (km/s),47.4,35,29.8,1.0*,24.1,13.1,9.7,6.8,5.4,4.7
12,Orbital Inclination (degrees),7,3.4,0,5.1,1.8,1.3,2.5,0.8,1.8,17.2
13,Orbital Eccentricity,0.206,0.007,0.017,0.055,0.094,0.049,0.052,0.047,0.01,0.244
14,Obliquity to Orbit (degrees),0.034,177.4,23.4,6.7,25.2,3.1,26.7,97.8,28.3,122.5
15,Mean Temperature (C),167,464,15,-20,-65,-110,-140,-195,-200,-225
16,Surface Pressure (bars),0,92,1,0,0.01,NaN,Unknown*,Unknown*,Unknown*,0.00001
17,Number of Moons,0,0,1,0,2,92,83,27,14,5
18,Ring System?,No,No,No,No,No,Yes,Yes,Yes,Yes,No
19,Global Magnetic Field?,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Unknown

In [8]:
# invert DataFrame  

df_inverse = df.T # store as a variable to be reusable

df_inverse

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Planet,Mass (1024kg),Diameter (km),Density (kg/m3),Gravity (m/s2),Escape Velocity (km/s),Rotation Period (hours),Length of Day (hours),Distance from Sun (106 km),Perihelion (106 km),Aphelion (106 km),Orbital Period (days),Orbital Velocity (km/s),Orbital Inclination (degrees),Orbital Eccentricity,Obliquity to Orbit (degrees),Mean Temperature (C),Surface Pressure (bars),Number of Moons,Ring System?,Global Magnetic Field?
MERCURY,0.33,4879,5429,3.7,4.3,1407.6,4222.6,57.9,46,69.8,88,47.4,7,0.206,0.034,167,0,0,No,Yes
VENUS,4.87,12104,5243,8.9,10.4,-5832.5,2802,108.2,107.5,108.9,224.7,35,3.4,0.007,177.4,464,92,0,No,No
EARTH,5.97,12756,5514,9.8,11.2,23.9,24,149.6,147.1,152.1,365.2,29.8,0,0.017,23.4,15,1,1,No,Yes
MOON,0.073,3475,3340,1.6,2.4,655.7,708.7,0.384*,0.363*,0.406*,27.3*,1.0*,5.1,0.055,6.7,-20,0,0,No,No
MARS,0.642,6792,3934,3.7,5,24.6,24.7,228,206.7,249.3,687,24.1,1.8,0.094,25.2,-65,0.01,2,No,No
JUPITER,1898,142984,1326,23.1,59.5,9.9,9.9,778.5,740.6,816.4,4331,13.1,1.3,0.049,3.1,-110,NaN,92,Yes,Yes
SATURN,568,120536,687,9,35.5,10.7,10.7,1432,1357.6,1506.5,10747,9.7,2.5,0.052,26.7,-140,Unknown*,83,Yes,Yes
URANUS,86.8,51118,1270,8.7,21.3,-17.2,17.2,2867,2732.7,3001.4,30589,6.8,0.8,0.047,97.8,-195,Unknown*,27,Yes,Yes
NEPTUNE,102,49528,1638,11,23.5,16.1,16.1,4515,4471.1,4558.9,59800,5.4,1.8,0.01,28.3,-200,Unknown*,14,Yes,Yes
PLUTO,0.013,2376,1850,0.7,1.3,-153.3,153.3,5906.4,4436.8,7375.9,90560,4.7,17.2,0.244,122.5,-225,0.00001,5,No,Unknown

In [10]:
# 
df_inverse.columns # display the columns
df_inverse.pop(0)

Planet     Mass (1024kg)
MERCURY             0.33
VENUS               4.87
EARTH               5.97
MOON               0.073
MARS               0.642
JUPITER             1898
SATURN               568
URANUS              86.8
NEPTUNE              102
PLUTO              0.013
Name: 0, dtype: object

RangeIndex(start=0, stop=20, step=1)

RangeIndex(start=0, stop=20, step=1)